.jumbotron {
  background-color: #1abc9c; 
  color: #ffffff;
}

.btnProdutoDetail{
  background-color: #ffffff;
}

#resultDetailHeader{
  margin-left: 1%;
}

.detailCards{
  width: 22rem;
  border-color: #1abc9c ;
}

#cardStoreHeader{
    color: #fff;
    background-color: #1abc9c;
    padding: 25px;
}

.card-deck{
  margin: 0;
}

footer{
    margin-top: 10px;
}

footer .btnContact{
  margin-bottom: 5px;
}
