body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#btnPesquisarProduto{
  margin-left: 4%;
}

.jumbotron {
  background-color: #1abc9c; 
  color: #ffffff;
}

.btnProdutoDetail{
  background-color: #ffffff;
}

.detailCards{
  margin: 1%;
  width: 22rem;
}

.card-deck{
  margin: 0;
}

footer{
    margin-top: 5%;
}

ul {
  list-style-type: none;
 }

 li.list-nome-produto{
  font-weight: bold;
 }
