.jumbotron {
    background-color: #1abc9c; 
    color: #ffffff;
  }
  .btnsearch{
      background-color: #1abc9c;
      color: #ffffff;
  }
  
  footer{
      margin-top: 5%;
  }

  ul {
    list-style-type: none;
   }

   li.list-nome-produto{
    font-weight: bold;
   }